.container {
	display: grid;
	place-content: center;
	height: 100dvh;
}

.card {
	background-color: #111;
	max-width: 400px;
	width: 100%;
	padding: 20px;
	border-radius: 12px;
	position: relative; /* Permite que el z-index funcione */
	z-index: 1;
}

.card-header {
	display: flex;
	align-items: center;
	gap: 10px;
}

.app-container {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	position: fixed; /* Asegura que cubra toda la pantalla */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1; /* Asegura que el fondo quede detrás del contenido */
}

.sunny {
	background-image: url('/gifs/Sunny.gif');
}

.cloudy {
	background-image: url('/gifs/Cloudy.gif');
}

.rainy {
	background-image: url('/gifs/Rainy.gif');
}

.snowy {
	background-image: url('/gifs/Snowy.gif');
}
